In [4]:
import pandas as pd
from datetime import datetime

# Load the dataset
file_path = 'Year of Graduation Data/Final Lead Data.csv'
data = pd.read_csv(file_path)

# Filter out rows with null 'Academic Year'
data = data.dropna(subset=['Academic Year'])

# Convert 'created' column to datetime
data['Created'] = pd.to_datetime(data['Created'])

# Function to calculate graduation year
def calculate_graduation_year(row):
    created_date = row['Created']
    academic_year = int(row['Academic Year'])
    
    # Determine if the created date is before or after July
    if created_date.month < 7:
        current_year = created_date.year - 1
    else:
        current_year = created_date.year
    
    # Calculate the graduation year
    graduation_year = current_year + (5 - academic_year)
    
    return graduation_year

# Apply the function to calculate graduation year for each row
data['Graduation Year'] = data.apply(calculate_graduation_year, axis=1)

# Show the updated dataframe
data[['Created', 'Academic Year', 'Graduation Year']]

C:\Users\Amin\AppData\Local\Temp\ipykernel_4268\1639572248.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Created'] = pd.to_datetime(data['Created'])

                 Created  Academic Year  Graduation Year
467  2021-04-24 16:54:12            3.0             2022
470  2021-04-23 14:22:56            2.0             2023
473  2021-04-23 12:59:50            3.0             2022
475  2021-04-22 13:07:12            2.0             2023
476  2021-04-22 12:59:13            2.0             2023
...                  ...            ...              ...
5281 2019-10-16 10:20:23            3.0             2021
5287 2019-10-16 10:20:10            3.0             2021
5291 2019-10-16 10:19:57            3.0             2021
5301 2019-10-16 10:19:08            3.0             2021
5302 2019-10-16 10:19:06            3.0             2021

[2518 rows x 3 columns]

In [5]:
# Save the updated dataframe to a new CSV file
output_file_path = 'Year of Graduation Data/Updated_Lead_Data.csv'
data.to_csv(output_file_path, index=False)

output_file_path

'Year of Graduation Data/Updated_Lead_Data.csv'